
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sora", sans-serif;
}


#root{
    background: rgb(28, 33, 39) !important;
    height: 280vh;
}


 /* SIDE BAR */
   
.side-bar{
    width: 16rem;
    height: 100%;
    background-color:rgb(36, 39, 58) !important;
    padding: 1.5rem;
}

.logo-box img{
    width: 4rem;
    height: 40%;
}

.list-wrap{ 
    color: rgb(165, 177, 189) !important;
    padding: 20px 0;
    font-size: 13px;   
}

.dashboard {
    margin-bottom: 20px;
}

.list p{
    font-weight: bold;
}
ul {
    list-style: none;
}

ul li {
    margin-bottom: 25px;
}

ul li a{
   text-decoration: none;
   color: rgb(165, 177, 189);
   display: flex;
   padding: 6px 0;
   font-size: 13px;
   height: auto;
   text-align: center;
   padding-top: 9px;
}

ul li a:hover {
    color: #fff;
    transition: 1s;
}

.first-child {
    background-image: linear-gradient(98.7deg,#5240f9 19.95%,#f3526d 89.51%);
    border-radius: 13px;
    margin-top: 20px;
}

.first-child p{
    color: #fff;
}
.img-box img {
    width: 3.8rem;
    height: 1.3rem;
    padding: 0;
}

.down-arrow {
    padding-left: 3rem;
    font-size: bold;
}


/* Header  */

.main-header {
    display: flex;
    position: fixed;
    right: 0;
    top: 0;
    width: calc(100% - 16rem);
    color: rgb(165, 177, 189);
    padding: 20px;
    height: 4rem;
    z-index: 1;
    background: rgb(28, 33, 39);
}

.left-arrow ion-icon {
    position: absolute;
    bottom: 0;
    /* left: 0; */
    right: 68.4rem;
    border: 1px;
    background: rgb(165, 177, 189);
    color: #fff;
    outline: none;
    cursor: pointer;
    padding: 1px; 
}
.sub-header {
    display: flex;
    justify-content: space-between;
    width: 100%; 
    text-align: center;
}

.sub-header p {
    font-size: 12px;
}

.left-header p {
    padding-top: 5px;
    font-weight: bold;
    font-size: 14px;
    padding-left: 1.5rem;
}

.right-header {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.search-box {
    display: flex;
    align-items: center;
    width: 16rem;
    height: 35px;
    background-color: rgb(32, 37, 43) !important;
    border-radius: 10px;
    padding: 10px;
    margin-right: 2.5rem;
}

.search-box > img {
    font-size: 20px;
}

.search-box > input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 14px;
    padding-left: 10px;
    background-color: rgb(32, 37, 43) !important;
    color: rgb(165, 177, 189);
}

.name-box {
    display: flex;
    align-items: center;
    width: 11rem;
    background-color: rgb(18, 23, 29) !important;
    height: 35px;
    border-radius: 10px;
    padding: 15px;
    cursor: pointer;
}

.nft-img img {
    border-radius: 50%;
    width: 1.5rem;
    text-align: center;
}

.name {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    text-align: center;
    padding-left: 10px;
    
    color: #fff;
}

.name ion-icon{
    margin-left: 20px;
}

.language-box {
    margin: 0 20px;
    cursor: pointer;
    padding-top: 5px;
}

.logout-box {
    padding-right: 20px;
    padding-top: 5px;
    cursor: pointer;
}

.hr1 {
    background-color: #535c6480;
    width: calc(100% - 16rem);
    position: fixed;
    top: 4rem;
    right: 0;
    height: 0.01rem;
    
}

    /* Main Section */

#main-section {
    position: absolute;
    right: 0rem;
    top: 4.3rem;
    width: 81%;
    padding: 1rem;
    height: 100%;
    color: #fff;
}

    /* Section One  */

.section-one {
    display: flex;
}

.left-section {
    width: 70rem;
    padding: 3rem 3rem 3rem 1.5rem;
}

.tfv-box {
    padding-bottom: 6rem;
}
.fiat-name, h3 {
    padding-bottom: 1rem;
    font-size: 17px;
    color: rgb(165, 177, 189);
}
.total-wrap{
    display: flex;
    justify-content: space-between;
}
.total-wrap-left {
    display: flex;
    justify-content:space-between;
}

.total-wrap-left p{
    font-size: 25px;
    font-weight: bold;
}
.total-wrap-left p span{
    font-size: 15px;
    font-weight: bold;
}

.wrap-amount {
    padding-right: 4rem;
}

#currency {
    cursor: pointer;
    background-color: rgb(28, 33, 39);
    color: #fff;
    border: 1px solid rgb(37, 43, 49);
    font-size: 15px;
    padding: 7px 15px;
    border-radius: 10px;
    outline: none;
}

.add-send-money {
    display: flex;
    text-align: center;
    justify-content: space-between;   
}
.add-money {
    margin-right: 10px;
    border: 2px;
    background-color: rgb(37, 43, 49);
    border-radius: 10px;
    padding: 8px 14px 8px 12px;
    outline: 2px;
    cursor: pointer;
    text-align: center;
}

.add-money span {
    font-size: 13px;
    padding-left: 6px;
    
}

.vl {
    border-right: 0.1rem solid #535c6480;
    height: 500px;
}

    /* Left Section Bottom  */

.quick-actions {
    display: flex;
    justify-content: space-between;
}

.show-more {
    display: flex;
    color: rgb(160, 210, 254) !important;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}

.show-more ion-icon{
    padding-left: 3px;
    width: 20px;
    font-weight: bolder;
    
}
.assets-box {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.assets-card {
    background-color: rgb(32, 37, 43);
    padding: .5rem .5rem;
    border-radius: 10px;
    width: 8rem;
    height: 7rem;
    border: 1px solid rgb(38, 41, 50);
    cursor: pointer;
}

.assets-card img {
    padding-bottom: 1rem;
}

    /* Right Section  */

.right-section {
    width: calc(100%-70rem);
    padding: 2rem;
}

.right-section-cotents {
    background-image: url(http://app.roqqu.com/static/media/need-help-bg.071e9de701e0d1900fdd.png);
    background-size: cover;
    border-radius: 10px;
    color: black;
    cursor: pointer;
    /* max-width: 40rem; */
    margin-bottom: 2rem; 
    padding: 1.2rem;  
}
.right-section-cotents h4{
    padding-bottom: .5rem;
    font-weight: bold;
}
.right-section-cotents p{
    font-size: .9rem;
    padding-bottom: .5rem;
    line-height: 1.7;
}

button {
    background-color: black;
    color: #fff;
    padding: .6rem 1rem;
    border-radius: 10px;
    cursor:pointer;
    border: none;
}

.right-section > :nth-child(2){
    background-image: url(http://app.roqqu.com/static/media/gradient-bg.28ab131e7b3bc109c5e1.png);
    background-size: cover;
}

.hr2 {
    background-color: #535c6480;
    width: 100%;
    height: 0.01rem;
}

    /* Section Two  */

.section-two {
    padding: 2rem 1rem;
    height: 100%;
}
.top-trending-section {
    display: flex;
    max-width: fit-content;
    background-color: rgba(233, 240, 255, 0.05);
    padding: .5rem 1rem;
    border-radius: 10px;
}

.top-trending-section a {
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    
}
.top-trending-section > :nth-child(1) {
    /* border: 3px; */
    background-color: rgb(165, 177, 189, .2);
    padding:  .5rem 1rem .5rem 1.5rem;
    border-radius: 10px;
    font-weight: 700;
}
.top-trending-section > :nth-child(2) {
    background-color: transparent;
    padding: .5rem 1em .5rem 1.5rem;
}

    /* Coin List  */

.coin-list-wrap {
    padding: 2rem 0rem;
    display: flex; 
    justify-content: space-between;
}

.coin-list {
    
    /* padding: 0 2rem; */
    border-radius: 10px;
}
.coin-list a{
    text-decoration: none;
    color: #fff;
}

.coin-list-name {
    display: flex;
    padding-bottom: 1rem;
}
.coin-list-name p {
    padding-left: 10px;
}

.coin-list-name span {
    color: rgb(177, 181, 196) !important;
}

.coin-chart img {
    border-radius: 20px;
}
.coin-chart-price {
    display: flex;
    background-color: rgba(233, 240, 255, 0.05);
    padding: 5px;
    border-radius: 10px;
}

.chart-price {
    border-radius: 10px;
    padding: 1.5rem;
    margin-left: 10px;
    background-color: rgb(165, 177, 189,.05);
    outline: none;

    justify-content: center;
}

.chart-price h6 {
    font-size: 17px;
}
.chart-price-cent {
    display: flex;
    color: #26ab5f;
    font-size: 13px;
    padding-top: 10px;
}

    /* Bottom Section  */

.section-three {
    padding: 1rem 1rem;
    /* height: 100%; */
    position: relative;
    bottom: 20rem;
}

.section-three h3 {
    color: rgb(177, 181, 196);
    padding-bottom: 3rem;
    font-size: 1.1rem;
}

table {
    display: table;
    box-sizing: inherit;
    border-collapse: separate;
    background-color: rgba(233, 240, 255, 0.02);
    padding: 1rem ; 
    border-radius: 15px;
    width: 100%;
    height: 120vh;
}

thead, .cell-number{
    /* display: table-header-group; */
    /* vertical-align: middle; */
    /* justify-content: space-between; */
    align-items: center;
    padding: 1rem;
    color: rgb(177, 181, 196);
    
}

tr {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0;
}

.more-coins {
    background-color: transparent;
}    
.more-coins:hover {
    background-color: rgba(233, 240, 255, 0.1);
    transition: .5s ease-in;
}

.cell-name {
    display: flex;
    width: fit-content;
    align-items: center;
    padding-left: 2rem;
}

.cell-name h4, span {
    padding-left: .5rem;
} 

.cell-name > :nth-child(3){
    color: rgb(177, 181, 196);
}

.cell-price {
    padding-left: 13rem;
}
.cell-change {
    padding-left: 7rem;
}
.cell-chart {
    padding-left: 9rem;
}
.cell-trade {
    padding-left: 9rem;
}

.view-more {
    position: relative;
    bottom: 3rem;
    left: 26rem;
}

.view-more:hover {
    background-color: aqua;
    color: black;
    transition: 1s all;
    transform: scale(1.1);
    font-weight: bold;
}
